/* 通用选择器：清除默认样式 */
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background: #f5f5f5;
	font-size: 14px;
}

.first{
	width: 100%;
	height: 13.77rem;
	background-image: url('../img/screen.png'),linear-gradient(#3cbeff,#47e7ff);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% auto,cover;
}
.first .pos{
	width: 100%;
	height: 1.6rem;
	color: #ffffff;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1.6rem;
}
.first .air{
	width: 2.1rem;
	height: 1.26rem;
	background: #f1ab62;
	border-radius: 0.15rem;
	margin-left: 0.27rem;
}
.first .air h4{
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	line-height: 0.6rem;
	font-weight: 400;
}
.first .air h5{
	font-size: 0.34rem;
	color: #fff;
	text-align: center;
	font-weight: 400;
}
.first .title1{
	width: 100%;
	height: 1.3rem;
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
	margin-top: 0.5rem;
	font-weight: 500;
}
.first .title2{
	width: 100%;
	height: 0.58rem;
	font-size: 0.58rem;
	color: #fff;
	text-align: center;
	margin-top: 0.44rem;
}
.first .title3{
	width: 100%;
	height: 0.36rem;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	margin-top: 0.35rem;
}
.first .title4{
	width: 100%;
	height: 0.4rem;
	font-size: 0.4rem;
	color: #fff;
	text-align: center;
	margin-top: 1.3rem;
}
.second{
	width: 100%;
	height: 2.88rem;
	background: #fff;
	border-bottom: 0.01rem solid #e4e4e4;
	font-size: 0.34rem;
}
.second .today{
	width: 5.4rem;
	height: 1.47rem;
	border-right: 0.03rem solid #e4e4e4;
	float: left;
	margin-top: 0.72rem;
}
.second .tomorrow{
	width: 5.37rem;
	height: 1.47rem;
	float: left;
	margin-top: 0.72rem;
}
.second .today .top,.second .tomorrow .top{
	width: 100%;
	height: 0.6rem;
}
.second .today .top .todayText,.second .tomorrow .top .todayText{
	float: left;
	width: 0.95rem;
	height: 100%;
	line-height: 0.6rem;
	margin-left: 0.56rem;
}
.second .today .top .tem,.second .tomorrow .top .tem{
	float: right;
	width: 1.65rem;
	height: 100%;
	line-height: 0.6rem;
	margin-right: 0.59rem;
	text-align: right;
}
.second .today .bottom,.second .tomorrow .bottom{
	width: 100%;
	height: 1.41rem;
}
.second .today .bottom .con,.second .tomorrow .bottom .con{
	float: left;
	width: 1.9rem;
	height: 100%;
	margin-left: 0.56rem;
	line-height: 1.2rem;
}
.second .today .bottom .conPic,.second .tomorrow .bottom .conPic{
	width: 0.56rem;
	height: 0.56rem;
	float: right;
	margin-right: 0.59rem;
	/* background-image: url('../img/0.png') ; */
	background-size: cover;
	margin-top: 0.33rem;
}

.third{
	width: 100%;
	height: 2.08rem;
	background: #fff;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	padding: 0.88rem 0 0.88rem 0 ;
	/* x方向允许出现滚动条 */
	overflow-x: auto;
	overflow-y:hidden; 
}
/* 滚动条的宽度设置为0 */
.third::-webkit-scrollbar{
	width: 0;
}
.third .wrap{
	width: 100%;
	/* 弹性盒子 */
	display: flex;
}
.third .wrap .box{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box .time{
	font-size: 0.24rem;
	color: #999;
	text-align: center;
}
.third .wrap .box .icon{
	width: 0.55rem;
	height: 0.55rem;
	/* background-image: url('../img/1.png') ; */
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box .timeTem{
	font-size: 0.26rem;
	color: #333;
	text-align: center;
}
.four{
	width:100%;
	height: 7.20rem; 
	background: #ffffff;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	overflow-x: auto;  
	overflow-y: hidden;
}
.four::-webkit-scrollbar{
	width: 0;
}
.four .wrap1{
	width: 100%;
	/* height: 100%;   */
	/* 弹性布局  也可以用浮动 */
	display: flex;
	margin: 0.72rem 0 0.95rem 0;
	/* background: blue; */
}
.four .wrap1 .box{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
	/* border-right: 0.01rem solid #000;  */
}
.four .wrap1 .box .day{
	font-size: 0.23rem;
	color: #999;
	text-align: center;
}
.four .wrap1 .box .weather{
	font-size: 0.36rem;
	color: #333333;
	text-align: center;
}
.four .wrap1 .box .icon{
	width: 0.55rem;
	height: 0.55rem;
	/* background-image: url('../img/1.png'); */
    background-size: 100%;
	/*空气墙 设置左右水平居中 */
	margin: 0.57rem auto 0.57rem auto;
}
.four .wrap1 .box .high{
	font-size: 0.28rem;
	color: #888888;
	text-align: center;
	margin-top: 0.47rem;
}
.four .wrap1 .box .low{
	font-size: 0.28rem;
	color: #888888;
	text-align: center;
	margin-top: 0.47rem
}
.four .wrap1 .box .wind{
	font-size: 0.27rem;
	color: #888888;
	text-align: center;
	margin-top: 0.47rem
}
.four .wrap1 .box .grade{
	font-size: 0.29rem;
	color: #888888;
	text-align: center;
}
.city{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	/* 隐藏 */
	display: none;
	overflow-y: auto;

}
.city::-webkit-scrollbar{
	width: 0;
}
.city .search{
	width: 100%;
	height: 1.3rem;
	border-bottom: 0.03rem solid #e4e4e4;
	/* position: fixed;
	top: 0;
	left: 0;
	z-index: 10; */
	/* background: #fff; */
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 10;
}
.city .search .searchBox{
	width: 7.68rem;
	height: 0.86rem;
	border-radius: 0.43rem;
	background: #f2f2f2;
	border: none;
	margin: 0.24rem 0 0 0.36rem ;
	padding-left: 0.93rem;
	font-size: 0.32rem;
	color: #808080;
	float: left;
}
.city .search .button{
	float: left;
	font-size: 0.32rem;
	color: #434343;
	width: 1.83rem;
	height: 0.86rem;
	margin-top: 0.24rem;
	text-align: center;
	line-height: 0.86rem;
}
.city .citys{
	width: 100%;
	overflow: hidden;
	padding: 0.34rem;
	box-sizing: border-box;
	/* margin-top: 1.3rem; */
}
.city .citys .title{
	width: 100%;
	font-size: 0.36rem;
	color: #444444;
}
.city .citys .con{
	width: 100%;
	margin-top: 0.4rem;
	overflow: hidden;
}
.city .citys .con .box{
	width: 3.16rem;
	height: 0.8rem;
	background: #f2f2f2;
	border-radius:0.4rem;
	font-size: 0.3rem;
	color: #4c4c4c; 
	text-align: center;
	line-height: 0.8rem;
	float: left;
	margin-right: 0.3rem;
	margin-bottom: 0.22rem;
}
.city .citys .con .box:nth-child(3n){
	margin-right: 0;
}
/* .city .citys:first-child{
	margin-top: 1.3rem;
} */
.city .city1{
	margin-top: 1.3rem;
}